@import '~bootstrap/scss/bootstrap';

body {
    background-color: #5e6066;
}

ul {
    margin: 0;
    padding: 0;
}

.ms-undo-btn {
    color: white;
    background-color: #d15a5a;
    border: 2px solid #717171;
    &:hover {
        color: #eb2a2a;
        border: 2px solid #eb2a2a;
    }
}

.ms-confirm-btn {
    color: white;
    background-color: #4fb887;
    border: 2px solid #717171;
    &:hover {
        color: #2bcc81;
        border: 2px solid #2bcc81;
    }
}

.ms-info-clr {
    color: #141414;
    background-color: #6e98d7;
    &:hover {
        color: #0d6efd;
        border: 2px solid #0d6efd;
    }
}

.ms-edit-clr {
    color: #141414;
    background-color: #f0f281;
    &:hover {
        color: #eaed3d;
        border: 2px solid #eaed3d;
    }
}

.ms-delete-clr {
    color: #141414;
    background-color: #d15a5a;
    &:hover {
        color: #eb2a2a;
        border: 2px solid #eb2a2a;
    }
}

.card-link {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.card-link:hover {
    border-color: #0d6efd;
    background-color: white;
}

.ms-btn{
    border: 2px solid grey;
    padding: 5px 0;
    width: 45px;
    text-shadow: 1px 0 white;
}

.ms-btn:hover {
    text-shadow: 1px 0 #141414;
}

.add-btn-container {
    margin: 35px 0;
}

.ms-add-btn {
    text-shadow: 1px 0 #141414;
    width: 80%;
    color: #ceffe7;
    background-color: #4fb887;
    box-shadow: 1px 1px 0 black;
    &:hover {
        background-color: #141414;
        transform: translate(1px, 1px);
        color: #4fb887;
        box-shadow: none;
        font-weight: bold;
    }
}

.edit-title {
    font-weight: bold;
    color: coral;
}